# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for
# license information.
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is
# regenerated.
# --------------------------------------------------------------------------

from msrest.pipeline import ClientRawResponse

from .. import models


class EventRoutesOperations(object):
    """EventRoutesOperations operations.

    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    :ivar api_version: The requested API version. Constant value: "2023-02-27-preview".
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):

        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer

        self.config = config
        self.api_version = "2023-02-27-preview"

    def list(
            self, event_routes_list_options=None, custom_headers=None, raw=False, **operation_config):
        """Retrieves all event routes.
        Status codes:
        * 200 OK.

        :param event_routes_list_options: Additional parameters for the
         operation
        :type event_routes_list_options:
         ~azure.digitaltwins.core.models.EventRoutesListOptions
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: EventRouteCollection or ClientRawResponse if raw=true
        :rtype: ~azure.digitaltwins.core.models.EventRouteCollection or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.digitaltwins.core.models.ErrorResponseException>`
        """
        max_items_per_page = None
        if event_routes_list_options is not None:
            max_items_per_page = event_routes_list_options.max_items_per_page
        traceparent = None
        if event_routes_list_options is not None:
            traceparent = event_routes_list_options.traceparent
        tracestate = None
        if event_routes_list_options is not None:
            tracestate = event_routes_list_options.tracestate

        # Construct URL
        url = self.list.metadata['url']

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if custom_headers:
            header_parameters.update(custom_headers)
        if max_items_per_page is not None:
            header_parameters['max-items-per-page'] = self._serialize.header("max_items_per_page", max_items_per_page, 'int')
        if traceparent is not None:
            header_parameters['traceparent'] = self._serialize.header("traceparent", traceparent, 'str')
        if tracestate is not None:
            header_parameters['tracestate'] = self._serialize.header("tracestate", tracestate, 'str')

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.ErrorResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('EventRouteCollection', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    list.metadata = {'url': '/eventroutes'}

    def get_by_id(
            self, id, event_routes_get_by_id_options=None, custom_headers=None, raw=False, **operation_config):
        """Retrieves an event route.
        Status codes:
        * 200 OK
        * 404 Not Found
        * EventRouteNotFound - The event route was not found.

        :param id: The id for an event route. The id is unique within event
         routes and case sensitive.
        :type id: str
        :param event_routes_get_by_id_options: Additional parameters for the
         operation
        :type event_routes_get_by_id_options:
         ~azure.digitaltwins.core.models.EventRoutesGetByIdOptions
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: EventRoute or ClientRawResponse if raw=true
        :rtype: ~azure.digitaltwins.core.models.EventRoute or
         ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.digitaltwins.core.models.ErrorResponseException>`
        """
        traceparent = None
        if event_routes_get_by_id_options is not None:
            traceparent = event_routes_get_by_id_options.traceparent
        tracestate = None
        if event_routes_get_by_id_options is not None:
            tracestate = event_routes_get_by_id_options.tracestate

        # Construct URL
        url = self.get_by_id.metadata['url']
        path_format_arguments = {
            'id': self._serialize.url("id", id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

        # Construct headers
        header_parameters = {}
        header_parameters['Accept'] = 'application/json'
        if custom_headers:
            header_parameters.update(custom_headers)
        if traceparent is not None:
            header_parameters['traceparent'] = self._serialize.header("traceparent", traceparent, 'str')
        if tracestate is not None:
            header_parameters['tracestate'] = self._serialize.header("tracestate", tracestate, 'str')

        # Construct and send request
        request = self._client.get(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [200]:
            raise models.ErrorResponseException(self._deserialize, response)

        deserialized = None

        if response.status_code == 200:
            deserialized = self._deserialize('EventRoute', response)

        if raw:
            client_raw_response = ClientRawResponse(deserialized, response)
            return client_raw_response

        return deserialized
    get_by_id.metadata = {'url': '/eventroutes/{id}'}

    def add(
            self, id, event_route, event_routes_add_options=None, custom_headers=None, raw=False, **operation_config):
        """Adds or replaces an event route.
        Status codes:
        * 204 No Content
        * 400 Bad Request
        * EventRouteEndpointInvalid - The endpoint provided does not exist or
        is not active.
        * EventRouteFilterInvalid - The event route filter is invalid.
        * EventRouteIdInvalid - The event route id is invalid.
        * LimitExceeded - The maximum number of event routes allowed has been
        reached.

        :param id: The id for an event route. The id is unique within event
         routes and case sensitive.
        :type id: str
        :param event_route: The event route data
        :type event_route: ~azure.digitaltwins.core.models.EventRoute
        :param event_routes_add_options: Additional parameters for the
         operation
        :type event_routes_add_options:
         ~azure.digitaltwins.core.models.EventRoutesAddOptions
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: None or ClientRawResponse if raw=true
        :rtype: None or ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.digitaltwins.core.models.ErrorResponseException>`
        """
        traceparent = None
        if event_routes_add_options is not None:
            traceparent = event_routes_add_options.traceparent
        tracestate = None
        if event_routes_add_options is not None:
            tracestate = event_routes_add_options.tracestate

        # Construct URL
        url = self.add.metadata['url']
        path_format_arguments = {
            'id': self._serialize.url("id", id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

        # Construct headers
        header_parameters = {}
        header_parameters['Content-Type'] = 'application/json; charset=utf-8'
        if custom_headers:
            header_parameters.update(custom_headers)
        if traceparent is not None:
            header_parameters['traceparent'] = self._serialize.header("traceparent", traceparent, 'str')
        if tracestate is not None:
            header_parameters['tracestate'] = self._serialize.header("tracestate", tracestate, 'str')

        # Construct body
        body_content = self._serialize.body(event_route, 'EventRoute')

        # Construct and send request
        request = self._client.put(url, query_parameters, header_parameters, body_content)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [204]:
            raise models.ErrorResponseException(self._deserialize, response)

        if raw:
            client_raw_response = ClientRawResponse(None, response)
            return client_raw_response
    add.metadata = {'url': '/eventroutes/{id}'}

    def delete(
            self, id, event_routes_delete_options=None, custom_headers=None, raw=False, **operation_config):
        """Deletes an event route.
        Status codes:
        * 204 No Content
        * 404 Not Found
        * EventRouteNotFound - The event route was not found.

        :param id: The id for an event route. The id is unique within event
         routes and case sensitive.
        :type id: str
        :param event_routes_delete_options: Additional parameters for the
         operation
        :type event_routes_delete_options:
         ~azure.digitaltwins.core.models.EventRoutesDeleteOptions
        :param dict custom_headers: headers that will be added to the request
        :param bool raw: returns the direct response alongside the
         deserialized response
        :param operation_config: :ref:`Operation configuration
         overrides<msrest:optionsforoperations>`.
        :return: None or ClientRawResponse if raw=true
        :rtype: None or ~msrest.pipeline.ClientRawResponse
        :raises:
         :class:`ErrorResponseException<azure.digitaltwins.core.models.ErrorResponseException>`
        """
        traceparent = None
        if event_routes_delete_options is not None:
            traceparent = event_routes_delete_options.traceparent
        tracestate = None
        if event_routes_delete_options is not None:
            tracestate = event_routes_delete_options.tracestate

        # Construct URL
        url = self.delete.metadata['url']
        path_format_arguments = {
            'id': self._serialize.url("id", id, 'str')
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}
        query_parameters['api-version'] = self._serialize.query("self.api_version", self.api_version, 'str', min_length=1)

        # Construct headers
        header_parameters = {}
        if custom_headers:
            header_parameters.update(custom_headers)
        if traceparent is not None:
            header_parameters['traceparent'] = self._serialize.header("traceparent", traceparent, 'str')
        if tracestate is not None:
            header_parameters['tracestate'] = self._serialize.header("tracestate", tracestate, 'str')

        # Construct and send request
        request = self._client.delete(url, query_parameters, header_parameters)
        response = self._client.send(request, stream=False, **operation_config)

        if response.status_code not in [204]:
            raise models.ErrorResponseException(self._deserialize, response)

        if raw:
            client_raw_response = ClientRawResponse(None, response)
            return client_raw_response
    delete.metadata = {'url': '/eventroutes/{id}'}
